body {
  margin: 0;
  background-color: #3498db; /* Aqua-like color */
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  margin: 20px auto; /* Center the board with a margin */
  border: 2px solid #2c3e50; /* Dark border color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
}

.cell {
  font-family: 'Pacifico', cursive; 
  border: 2px solid #2c3e50; /* Dark border color */
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  cursor: pointer;
  transition: background-color 0.3s; /* Add transition for smooth hover effect */

  &:hover {
    background-color: #ecf0f1; /* Light background color on hover */
  }
}

.context {
  height: 70px;
  font-size: 40px;
  margin-top: 40px;
  color: #fff; /* White text color */
}

.restart {
  height: 50px;
  width: 150px;
  border-radius: 30px;
  border: 2px solid #2ecc71; /* Green border color */
  font-size: 20px;
  cursor: pointer;
  background-color: #2ecc71; /* Green background color */
  color: #fff; 
  font-family: "Pacifico",cursive;
  transition: background-color 0.3s;

  &:hover {
    background-color: #27ae60;
    box-shadow: 2px;
    font-size: 23px;
  }
}

.O {
  color: #e74c3c;
}

.X {
  color: black;
}
